*{
    margin : 0px;
    padding:0px;
}
body{
    background:linear-gradient(to bottom right ,rgb(56, 189, 246),rgb(30, 2, 82))
}
h1{
    padding-left: 430px;
    margin-top: 20px;
    color:rgb(246, 249, 246);
    margin-bottom: 10px;
}
#outer{
    margin-left: 200px;
    padding-left: 300px;
    width: 900px;
    height:500px;
    padding: 20px;
    border:2px solid black;
    border-radius: 4px;
    background-color: aliceblue;
}
#inner1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
input{
    text-align: left;
    width:250px;
    height:30px;
    border:2px solid black;
    border-radius: 5px;
    margin-bottom:4px ;
}
h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
#child1{
    border:2px solid black;
    border-radius: 4px;
    background-color: aqua;
    width : 300px;
    height : 350px;
    padding-left: 10px;
    margin-top: 20px;
}
button{
    width:250px;
    height:30px;
    border:2px solid black;
    border-radius: 4px;
    background-color: rgb(58, 58, 227);
    color: white;
}
#child2{
    border: 2px solid black;
    border-radius: 4px;
    background-color: aqua ;
    width:550px;
    height:350px;
    margin-top: 16px;
    padding-left: 10px;

}
#child2 div{
    margin-top: 10px;
}
select{
    width:250px;
    height:30px;

}
#last{
    margin-top: 10px;
    margin-left: 16px;
    width:865px;
    height:130px;
    background-color: aqua;
    border:2px solid black;
    border-radius: 4px;
    padding-left: 10px;

}
#last div{
    border:2px solid black;
    width:800px;
    height:30px;
    padding-top: 4px;
    background-color: aliceblue;
}